@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Please log in to see more.<br /><br />
        <a asp-controller="Home" asp-action="Login">
            <button class="btn-lg btn-primary">LOGIN</button>
        </a>
    </p>
</div>

